<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if title %}
        {{ title }} -
      {% endif %}
      Salman's OpLog</title>
    <link rel="stylesheet" href="/css/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Inter:wght@400;500;700&display=swap">
    <meta name="description" content="{% if description %}{{ description }}{% else %}Ivan's Blog{% endif %}">
  </head>
  <body>
    {% include "header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
  </body>
</html>